.menu {
  position: relative;
  background: url(../../assets/images/coffeeBeansBgBright.jpeg) center / cover
    fixed;

  .menu__img-wrapper {
    position: relative;
    width: 720px;
    height: 480px;
    border: 2px dashed var(--first-color);
    padding: 5px;
    .menu_btn {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: var(--large-font-size);
      font-weight: var(--weight-600);
      text-align: center;
      padding:0.75rem 0.95rem ;
      border-radius: var(--radius);
      background-color: var(--container-color);
      //Hover Effect
      opacity: 0;
      transition: 1s var(--transition);
    }
  }

  .menu__img-wrapper::before {
    content: "";
    position: absolute;
    inset: 0.7rem; //The inset CSS property is a shorthand that corresponds to the top, right, bottom, and/or left properties.
    background-color: var(--first-color);
    border-radius: var(--radius);

    // Hover Effect
    transform: scaleY(0);
    opacity: 0;
    transition: 0.4s var(--transition);
  }

  .menu__img-wrapper:hover {
    .menu_btn {
      opacity: 1;
    }
  }

  .menu__img-wrapper:hover::before {
    transform: scaleY(1);
    opacity: 0.7;
  }

  .menu__img-wrapper,
  .menu__img {
    border-radius: var(--radius);
    margin-inline: auto;
    object-fit: cover;
  }
}

// menu background picture的深色遮罩
.menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--hsla);
}

.menu .section__title,
.menu__img-wrapper {
  position: relative;
  z-index: 1; //讓menu裡面的東西和section__title，都移到menu background picture的深色遮罩之上
}
