.shopping-cart-modal {
  position: fixed;
  top: 70px;
  right: 30px;
  background: var(--first-color);
  width: 400px;
  display: none;
  border-radius: 10px;
  z-index: 100;
  .shopping-cart-close-btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 10px 0 0;
    .shopping-cart-close-btn {
      background: var(--bg-color);
      width: 20px;
      height: 20px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      cursor: pointer;
      border: none;
      transition: 0.3s var(--transition);
    }
    .shopping-cart-close-btn:hover {
      background: white;
      color: var(--bg-color);
    }
  }
  .shopping-cart-items-container {
    //outline: 1px solid rgb(8, 144, 161);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    .shopping-cart-item-container {
      //outline:1px solid red;
      overflow:scroll;
      height:400px;
      .shopping-cart-order-item {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        border: 1px dashed var(--first-color-light);
        border-radius: 5px;
        background: #625b4b43;
        .shopping-cart-img-container {
          //outline: 1px solid red;
          width: 75px;
          height: 75px;
          .shopping-cart-img {
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }

        .cart-item-info-container {
          //outline: 1px solid steelblue;
          color: var(--bg-color);
          width: 240px;
          padding: 0 4px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .cart-item-name-container {
            font-weight: 500;
          }
          .shopping-cart-variant-price {
            font-size: 0.75rem;
          }
          .cart-item-total-price {
          }
        }

        .shopping-cart-remove-item-btn {
          background: var(--first-color-light);
          width: 20px;
          height: 20px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          cursor: pointer;
          border: none;
          transition: 0.3s var(--transition);
        }
        .shopping-cart-remove-item-btn:hover {
          background: red;
          color: white;
        }
      }
    }

    .checkout-cart-button {
      width: 100%;
      background: var(--bg-color);
      color: white;
      border-radius: 10px;
      padding: 10px 20px;
      border: none;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s var(--transition);
    }
    .checkout-cart-button:hover {
      background: white;
      color: var(--bg-color);
    }
  }
}
.show-cart {
  display: block;
}
