.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  .nav {
    position: relative;
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__logo {
      .nav__logo-img {
        width: 190px;
        cursor: pointer;
      }
    }

    .nav__menu {
      .nav__list {
        display: flex;
        column-gap: 2rem;
        .nav__item {
          .nav__link {
            color: var(--title-color);
            font-size: var(--large-font-size);
            font-weight: var(--weight-500);
            cursor: pointer;
          }

          .nav__link:hover {
            color: var(--first-color);
          }
          .active {
            color: var(--first-color);
          }
        }
      }
    }

    .nav__toggle {
      font-size: var(--h2-font-size);
      display: none;
      color: var(--title-color);
      cursor: pointer;
    }

    .icon-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90px;
      .user-icon {
        width: 20px;
        height: 20px;
        color: #fff;
        transition: 0.3s var(--transition);
      }

      .cart-icon {
        position: relative;
        width: 24px;
        height: 24px;
        color: #fff;
        transition: 0.3s var(--transition);
      }
      .cart-amount {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(5, 161, 218, 0.839);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        bottom: 30px;
        right: 10px;
        transform: translate(25%, 25%);
      }
      .user-icon:hover,
      .cart-icon:hover {
        color: var(--first-color);
        cursor: pointer;
      }
    }
  }
}

// Scroll Header
.scrollHeader {
  position: fixed;
  background-color: var(--container-color);
  z-index: 12;
  animation: slide-down 0.7s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
