// Style prefix

//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Kanit:wght@400;500;600&family=Lobster+Two:wght@400;700&family=Poppins:wght@200;400;500;600;700&display=swap");

// Scss variables
:root {
  --header-height: 5rem;
  //color
  --first-color: #ba9373;
  --first-color-light: #625b4b;
  --title-color: #ffffff;
  --text-color: #ababab;
  --bg-color: #141414;
  --container-color: #0f0f0f;
  --hsla: rgba(0, 0, 0, 0.75);

  // Typography
  --body-font: "Kanit", sans-serif;
  --second-font: "Lobster Two", cursive;
  // --second-font: "Poppins", cursive;

  --biggest-font-size: 4.125rem;
  --bigger-font-size: 3.125rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --largest-font-size: 1.375rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  //Border-radius
  --radius: 0.5rem;
  //transition
  --transition: ease-in-out;
}

//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-400);
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

//Reuseable styles
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 0.7rem;
}

.gird {
  display: grid;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  color: var(--title-color);
  background: var(--first-color);
  border: 2px solid var(--first-color);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  transition:0.3s var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
  cursor: pointer;
}

.section {
  padding: 7.5rem 0;
}

.section__title {
  font-size: var(--big-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.section__title::before {
  //The attr() CSS function is used to retrieve the value of an attribute of the selected element and use it in the stylesheet.
  content: attr(data-title);
  display: block;
  color: var(--first-color);
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.title-left {
  text-align: left;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .features__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    .footer__grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
    }
  }
  .cart-page {
    .cart-container {
      .cart-content-wrapper {
        .cart-bottom {
          flex-direction: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .btn {
    padding: 0.75rem 1.25rem;
  }
  .header {
    .nav {
      height: var(--header-height);
      .nav__logo {
        .nav__logo-img {
          width: 140px;
        }
      }
      .nav__menu {
        position: absolute;
        top: 100%;
        inset-inline: 0.75rem;
        background-color: var(--title-color);

        //讓menu可以scroll
        max-height: 0px; //先設為0，讓他看不到，讓show-menu去把他toggle出來，然後nav__toggle看得到display block
        overflow: scroll;
        transition: 0.3s var(--transition);

        .nav__list {
          flex-direction: column;
          .nav__item {
            padding: 0.5rem 1.25rem;

            .nav__link {
              color: var(--bg-color);
            }
            .active {
              color: var(--first-color) !important;
            }
          }
        }
      }
      .show-menu {
        max-height: 220px;
      }

      .nav__toggle {
        display: block;
      }
    }
  }

  .about {
    .about__grid {
      grid-template-columns: 1fr;
    }
  }

  .menu {
    .menu__grid {
      grid-template-columns: 1fr;
    }
  }

  .stats {
    .stats__grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5rem;
    }
  }

  .gallery {
    .gallery__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .reservation {
    .reservation__form {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .offer__title {
    margin-bottom: 1rem;
  }
  .testimonials {
    .testimonial__item {
      .testimonial__quote {
        .testimonial__icon {
          bottom: -1.5rem;
        }
      }
    }
  }

  .footer {
    .footer__grid {
      .footer__logo-img {
        width: 140px;
      }
    }
  }
  .cart-page {
    .cart-container {
      .cart-content-wrapper {
        .cart-bottom {
          flex-direction: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .offer {
    .offer__item {
      grid-template-columns: 1fr;

      .offer__img-wrapper {
        margin-right: 0; //讓原本被吃掉的圖跑出來
        .offer__img {
          vertical-align: middle;
        }
      }
    }
  }
  .testimonials {
    .testimonial__item {
      .testimonial__quote {
        .testimonial__icon {
          bottom: -1.25rem;
        }
      }
    }
  }
  .footer {
    .footer__grid {
      grid-template-columns: 1fr;
      .footer__logo-img {
        width: 140px;
      }
    }
  }
  .cart-page {
    .cart-container {
      .cart-content-wrapper {
        .cart-bottom {
          flex-direction: column;
        }
      }
    }
  }
  // .product-detail-page {
  //   .product-detail-container {
  //     flex-direction: column;
  //   }
  // }
}

@media screen and (max-width: 576px) {
  .about {
    .about__img-wrapper {
      padding-left: 1rem;
    }
    .about__img-wrapper::before {
      bottom: -0.625rem;
    }
  }
  .features__grid {
    grid-template-columns: 1fr;
  }
  .stats {
    .stats__grid {
      grid-template-columns: 1fr;
    }
  }
  .menu {
    .menu__grid {
      .menu__item {
        grid-template-columns: 1fr;
        .menu__img-wrapper {
          width: 60px;
          height: 60px;
          padding: 2px;
        }
      }
    }
  }

  .gallery {
    .gallery__grid {
      grid-template-columns: 1fr;
    }
  }
  .reservation {
    .reservation__form {
      grid-template-columns: 1fr;
    }
  }
  .cart-page {
    .cart-container {
      .cart-content-wrapper {
        .cart-bottom {
          flex-direction: column;
          .cart-info {
            .cart-product {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .reservation {
    padding: 1.5rem 1.25rem;
  }
  .testimonials {
    .testimonial__item {
      .testimonial__quote {
        padding: 1.5rem 1.25rem 2rem;
      }
      .testimonial__content {
        .testimonial__img-wrapper {
          width: 70px;
          height: 70px;
          margin-inline: 1rem;
        }
      }
    }
  }
  .cart-page {
    .cart-container {
      .cart-content-wrapper {
        .cart-bottom {
          flex-direction: column;
          .cart-info {
            .cart-product {
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
